<div class="jumbotron text-center">
  <h2>REALESTATE/STATIONERY APP</h2>
  <small>Let the app get your accomodation in Lae.</small><br>
  <!--<button *ngIf='auth.isLoggedIn()' routerLink='/teachers/create' class="btn btn-info">Create Properties</button>-->
  <button  routerLink='/properties/create' class="btn btn-info">Create Property</button>
  <button routerLink='/professionals' class="btn btn-danger">More Stationery</button>
</div>

<div *ngIf="teachers">
  <div *ngFor="let c of teachers" class="col-sm-4">
    <div class="thumbnail" [routerLink]="['/properties',c.id]">
      <h2> {{ c.name }}</h2><small><i>{{c.description}}</i></small>
      <h4>{{c.createdAt}}</h4>
      <img [src]='c.listViewImage' class='img-responsive img-circle'>

      <div class="btn btn-info pull-right">Details</div>
      <div class="btn btn-primary pull-right">Stationery Details</div>
    </div>
  </div>
</div>